@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.header{
    background-color: transparent;
    font-size: 3.5rem;
    box-shadow: 1px 1px 5px #fff;
    
}

.title{
    color: #fff;
    padding-left: 75px;
    letter-spacing: -3px;
    font-family: 'Special Elite', cursive;
}
.title:hover{
    opacity: 0.7;
}
@media (max-width:675px) {
    .title{
        padding-left: 70px;
        font-size: 3rem;
    }
}