@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&family=Gentium+Book+Basic:ital@1&display=swap');


*{
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-family: 'Gentium Book Basic', serif;
}
*::-webkit-scrollbar{
  width: 8px;
  background-color: rgb(224, 223, 223);
}

a{
  text-decoration: inherit;
  color: inherit;
}
 .app{
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

@media (max-width:654px) {
  .app{
    background-position: center;
    background-size: 100% 100%;
  }
}
